@model EcommerceApp.Application.ViewModels.Product.ListProductDetailsForUserVM
    @{
    ViewData["Title"] = "Products";
    }
    <div class="row">
        @foreach(var item in Model.Products)
        {
        <div class="col-md-3">
            <p>
                <div class="card">
                    <h2>@item.Name</h2>
                    <dd><img src=@item.ImageUrl width="253" height="256" /></dd>
                    <p>@item.Description</p>
                    <p>@item.UnitPrice</p>
                    <a asp-controller="Product" asp-Action="Product" asp-route-id="@item.Id" class="stretched-link"></a>
                </div>
            </p>
        </div>
        }
    </div>