@model EcommerceApp.Application.ViewModels.Product.ListProductDetailsForUserVM
@{
    ViewData["Title"] = "Products";
}
<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-3">
            <p>
            <div class="card text-center">
                <span class="border border-primary">
                    <dd><img src=@item.ImageUrl width="251" height="256" /></dd>
                    <h2>@item.Name</h2>
                    <p class="h3 text-white"><span class="badge badge-danger">@Html.DisplayFor(x => item.UnitPrice)
                    </span></p>
                    <a asp-controller="Product" asp-Action="Product" asp-route-id="@item.Id" class="stretched-link"></a>
                </span>
            </div>
            </p>
        </div>
    }
</div>