@{
ViewData["Title"] = "Admin Panel";
}
<center>
    <h1>@ViewData["Title"]</h1>
    <div class="container">
        <dl class="dl-horizontal">

            <dt><a class="btn btn-primary btn-lg" asp-controller="AdminPanel" asp-action="Employees">Employee Management</a></dt>
            <dd></dd>
            <dt><a class="btn btn-primary btn-lg" asp-controller="AdminPanel" asp-action="Customers">Customer Management</a></dt>
        </dl>
    </div>
</center>