@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card rounded">
                    <div class="card-header  text-white" style="background-color: black;">
                        <h1 class="text-center">@ViewData["Title"]</h1>
                        <p><h6 class="text-center">EcommerceApp</h6></p>
                    </div>
                    <div class="card-body  text-white" style="background-color: black;">
                        <form id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <i class="fas fa-envelope"> <label asp-for="Input.Email"></label></i>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <i class="fas fa-key"> <label asp-for="Input.Password"></label></i>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <center><button type="submit" class="btn btn-light btn-lg rounded">Log in</button></center>
                                <div class="form-group">
                                    <p>
                                        <a class="text-primary" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                    <p>
                                        <a class="text-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a
                                            new
                                            user</a>
                                    </p>
                                    <p>
                                        <a class="text-primary" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email
                                            confirmation</a>
                                    </p>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
