@{
ViewData["Title"] = "Add Category";
}
<center>
    <h1>@ViewData["Title"]</h1>
    <div class="col-md-6">
        <p>Fill in the fields and create a new category</p>
        <form asp-action="AddCategory" enctype="multipart/form-data">
            <partial name="_CategoryFormPartial" />
            <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
    </div>
</center>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}