@{
    ViewData["Title"] = "Add Category";
}
<center>
    <div class="col-md-6">
        <div class="card rounded">
            <div class="card-header bg-dark text-white">
                <h1>@ViewData["Title"]</h1>
                <p>Fill in the fields and create a new category</p>
            </div>
            <div class="card-body bg-light">
                <form asp-action="AddCategory" enctype="multipart/form-data">
                    <partial name="_CategoryFormPartial" />
                    <button type="submit" class="btn btn-primary">Add Category</button>
                </form>
            </div>
        </div>
    </div>
</center>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}