@{
ViewData["Title"] = "Add Product";
}
<center>
    <h1>@ViewData["Title"]</h1>
    <div class="col-md-6">
        <p>Fill in the fields and create a new product</p>
        <form asp-action="AddProduct" enctype="multipart/form-data">
            <partial name="_ProductFormPartial" />
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>
</center>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />
}