@model EcommerceApp.Application.ViewModels.Home.HomeVM
@{
ViewData["Title"] = "Home Page";
}
<div class="row">
        @foreach(var item in Model.Products)
        {
        <div class="col-md-3">
        <div class="card">
            <h2>@item.Name</h2>
            <dd><img src=item.ImageUrl width="254" height="256" /></dd>
            <p>@item.Description</p>
            <p>@item.UnitPrice</p>
        </div>
        </div>
        }
</div>