@model EcommerceApp.Application.ViewModels.Home.HomeVM
@{
ViewData["Title"] = "Home Page";
}
<div class="row">
    @foreach (var item in Model.Products.Products)
    {
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
            <p>
            <div class="card text-center bg-light">
                <span class="border border-primary">
                    <img class="card-img-top" src=@item.ImageUrl height="256" />
                    <h2>@item.Name</h2>
                    <p class="h3 text-white"><span class="badge badge-danger">@Html.DisplayFor(x => item.UnitPrice)
                    </span></p>
                    <a asp-controller="Product" asp-Action="Product" asp-route-id="@item.Id" class="stretched-link"></a>
                </span>
            </div>
            </p>
        </div>
    }
</div>