@model EcommerceApp.Application.ViewModels.Home.HomeVM

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" role="button" data-toggle="dropdown"
        id="navbarDropdown">Categories</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach(var category in Model.Categories)
        {

        <a class="dropdown-item" asp-controller="Category" asp-action="ActionName"
            asp-route-paramName=@category.Name>@Html.DisplayFor(x => category.Name)
        </a>
        }
    </div>
</li>