@using EcommerceApp.Application.Interfaces
@inject ICategoryService _categoryService
@{
    var categoriesList = await _categoryService.GetAllCategoriesNamesAsync();
}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
        id="navbarDropdown">Categories</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var category in categoriesList)
        {

            <a class="dropdown-item" asp-controller="Category" asp-action="Products"
            asp-route-categoryName=@category>@Html.DisplayFor(x => category)
            </a>
        }
    </div>
</li>